---
---

@import "minima-reboot";

table {
    width: 100% !important;
    border-collapse: collapse !important;
    margin: 20px 0 !important;
    font-size: 16px !important;
    text-align: left !important;
}

th, td {
    border: 1px solid #ddd !important;
    padding: 8px !important;
}

th {
    background-color: #f4f4f4 !important;
    color: #333 !important;
    font-weight: bold !important;
}

/* Hover Effect */
tr:hover {
    background-color: #f9f9f9 !important;
}

  /* Responsive Table */
.table-container {
    overflow-x: auto !important;
}

.reduced-line-space {
  line-height: 2 !important; /* Adjust the value as needed (e.g., 1, 1.2, 1.5) */
}


