---
layout: default
---

<div class="content">
  <style>
    table {
      font-family: 'Poppins', sans-serif !important; <!-- font-family: 'Times New Roman', Times, serif !important; -->
      width: 100% !important;
      border-collapse: collapse !important;
      margin: 20px 0;
	  text-align: center; /* Centers text horizontally */
    }
    th, td {
      border: 1px solid #ddd !important;
      padding: 15px !important;
    }
    th {
      background-color: #f4f4f4 !important;
      color: #333 !important;
    }
	
	/* Hover Effect */
    tr:hover {
      background-color: #f9f9f9;
    }
	
	/* Container to center the table */
    .table-container {
      display: flex;
      justify-content: center;
      margin: 20px 0;
      overflow-x: auto; /* For responsiveness */
    }
  </style>
  {{ content }}
</div>